header {
    background-color: #007bd8;
    color: white;
    padding-top:.5rem;
}

.nav-bar {
    margin-left:5vw;
    margin-right:5vw;
    display:flex;
    justify-content: space-between;
    font-weight:600;
    font-size:2.0rem;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: rgb(211, 211, 211);
}

header span {
    transition: 0.3s;
}

.TitleLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.TitleLogo p {
    font-weight: 500;
}

.TitleLogo img{
    width:37px;
    height:40px;
    margin-left: 7px;
}

.nav-bar-links li {
    list-style: none;
    text-align: center;
    transition: 0.3s;
}

header ul {
    display: flex;
}

header ul div {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left:25px;
}



