header {
    background-color: #007bd8;
    color: white;
    font-weight:600;
    font-size:2.0rem;
    padding-top:.5rem;
}

nav {
    margin-left:5vw;
    margin-right:5vw;
    display:flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(230, 230, 230);
}

.TitleLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.TitleLogo p {
    font-weight: 500;
}

.TitleLogo img{
    width:37px;
    height:40px;
    margin-left: 7px;
}

li {
    list-style: none;
    text-align: center;
}

ul {
    display: flex;
}

ul div {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left:25px;
}

