html {
  /* 62.5% of 16px base font size is 10px */
  font-size: 62.5%;
}

@font-face { font-family: Bogle-Regular; src: url('/public/Bogle-Regular.otf'); } 
@font-face { font-family: Bogle-Medium; src: url('/public/Bogle-Medium.otf'); } 

body {
  margin: 0;
  font-family: Bogle-Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing:border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height:100vh;
  min-width:100vw;
}

a { 
  color: inherit; 
} 
