.not-found-container {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 7.5%;
    margin-bottom:7.5%;
}

.not-found-h1 {
    font-size: 8rem;
}

.not-found-h2 {
    font-size: 5rem;
}

.not-found-p {
    font-size: 3rem;
}